[Unit]
Description=E21W QRCode Reader


[Service]
Restart=always
Environment=NODE_ENV=production
WorkingDirectory=/home/if/e21w_reader
ExecStart=/home/if/e21w_reader/e21w_reader.js

[Install]
WantedBy=basic.target
